{% extends "emails/base_email.html" %}
{% block content %}
    <title>Welcome to Discover West Cameroon</title>

    <h2>Welcome {{ user.first_name }}!</h2>

    <p>Thank you for signing up on Discover West Cameroon.</p>

    <p>You can now explore:</p>
    <ul>
        <li>Festivals and cultural events</li>
        <li>Book expert guides and tutors</li>
        <li>Learn more about the regions of West Cameroon</li>
    </ul>

    <p>We’re excited to have you on board!</p>

    <br>
    <p>Cheers,<br>The Discover West Cameroon Team</p>
{% endblock %}